* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

span {
  display: block;
}

/*--------------------*/
body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  background: #f3efea;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 40px;
}

.text {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #323232;
  line-height: 1.5;
}

.title {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 48px;
  color: #57463a;
  line-height: 1.5;
}

.btn {
  padding: 18px 58px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #f6f6f6;
  background: #a1b29f;
}

.header {
  padding: 30px 0 20px;
  border-bottom: 1px solid #000;
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__content-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}
.header__list-link {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #323232;
  line-height: 1.5;
  transition: all 0.3s ease-in;
}
.header__list-link::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background: #a1b29f;
  transition: all 0.3s ease-in;
}
.header__list-link:hover {
  color: #a1b29f;
}
.header__list-link:hover::after {
  width: 80%;
}
.header__mobil {
  display: none;
}
.header__mobil-body {
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  position: absolute;
  overflow: hidden;
  z-index: 1;
}
.header__body-burger {
  margin-left: auto;
  width: 68px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  z-index: 10;
}
.header__body-burger span {
  width: 100%;
  height: 2px;
  background: #57463a;
  transition: all 0.3s ease-in;
}
.header__body-burger.active span {
  background: #f3efea;
}
.header__body-menu {
  width: 100%;
  height: 100%;
  margin-left: auto;
  background: #57463a;
  transform: translateX(180%);
  transition: all 0.3s ease-in;
}
.header__body-menu.active {
  transform: translateX(0%);
}
.header__menu {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.header__menu .header__content-menu {
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.main {
  border-bottom: 1px solid #000;
}
.main__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main__content-bg {
  width: 50%;
  height: 774px;
}
.main__content-bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main__content-info {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  width: 50%;
  margin-right: auto;
  height: 478px;
  padding: 0 40px;
}
.main__info-social {
  width: 170px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main__social-link {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #715b4b;
}

.category {
  margin: 160px 0 100px;
}
.category__content-title {
  margin-bottom: 85px;
}
.category__content-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 160px;
}
.category__body-info {
  padding: 14px 0;
  border-bottom: 3px solid #715b4b;
}
.category__info-text {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #323232;
  line-height: 1.5;
}
.category__list-title {
  margin-bottom: 100px;
}
.category__list-wrap {
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.category__wrap-flex {
  flex: 0 1 25%;
  height: 243px;
  border: 0.5px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.category__flex-bg {
  width: 100px;
  height: 100px;
}
.category__flex-bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.category__flex-name {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #323232;
}

.about__info {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about__info-bg {
  width: 50%;
  height: 475px;
}
.about__info-bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__info-info {
  width: 50%;
  padding: 0 40px;
}
.about__info-title {
  width: 100%;
  margin-bottom: 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #000;
  line-height: 1.5;
}
.about__info-text {
  width: 100%;
  margin-bottom: 70px;
  line-height: 1.5;
}

.video {
  margin: 160px 0 200px;
}
.video__content-title {
  margin-bottom: 100px;
}
.video__content-bg {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c4c4c4;
}
.video__bg-btn {
  width: 44px;
  height: 44px;
  cursor: pointer;
}
.video__bg-btn svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services__content-title {
  margin-bottom: 100px;
}
.services__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #d4cdc3;
}
.services__flex-bg {
  width: 50%;
}
.services__flex-bg img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.services__flex-info {
  width: 50%;
  margin-right: auto;
  padding: 0 40px;
}
.services__info-title {
  margin-bottom: 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #000;
}
.services__info-text {
  width: 100%;
  margin-bottom: 75px;
}

.guarantee {
  margin: 200px 0 210px;
}
.guarantee__content {
  padding: 14px 12px 13px 13px;
  border: 7px solid #a1b29f;
}
.guarantee__content-info {
  padding: 90px 95px;
  border: 1px solid #715b4b;
}
.guarantee__content-title {
  width: 100%;
  margin: 0 auto;
  line-height: 1.5;
  text-align: center;
}
.guarantee__content-text {
  width: 100%;
  margin-top: 40px;
}
.guarantee__content-bg {
  width: 152px;
  height: 150px;
  margin-left: auto;
}
.guarantee__content-bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer {
  padding: 85px 0 245px;
  background: #715b4b;
}
.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__content-item {
  width: 82%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__item-list {
  width: 25%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}
.footer__list-link {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #f6f6f6;
  line-height: 1.5;
}
.footer__content-social {
  width: 16%;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.footer__social-link {
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 1px solid #f6f6f6;
}

.baner {
  position: relative;
}
.baner__bg {
  width: 100%;
  height: 80vh;
}
.baner__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.baner__content {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.baner__content-subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #f6f6f6;
}
.baner__content-title {
  color: #f6f6f6;
  text-align: center;
  margin-bottom: 115px;
}
.baner__content-btn {
  background: #f6f6f6;
  color: #4c6d77;
}

.works {
  margin: 160px 0;
}
.works__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.works__content-title {
  width: 100%;
  margin-bottom: 100px;
}
.works__content-wrap {
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}
.works__wrap-flex {
  flex: 0 1 21%;
  height: 341px;
}
.works__flex-bg {
  width: 100%;
  height: 300px;
}
.works__flex-bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.works__flex-name {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #323232;
  text-align: center;
  margin-top: 25px;
}
.column__content-wrap {
  width: 30%;
  margin: 45px auto 100px;
}
.column__wrap-flex {
  margin: 55px 0;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 45px;
}
.column__flex-number {
  padding: 12px 23px;
  border-radius: 100%;
  background: #a1b29f;
}
.column__flex-number span {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #f6f6f6;
  line-height: 1.5;
}
.restoration {
  margin: 160px 0;
}
.restoration__content-title {
  margin-bottom: 100px;
}
.restoration__content-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}
.restoration__wrap-flex {
  flex: 0 1 21%;
}
.restoration__flex-bg {
  width: 100%;
}
.restoration__flex-bg img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.restoration__flex-name {
  margin-top: 25px;
  width: 100%;
}
.restoration__flex-name p {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #323232;
  text-align: center;
}

.restoration-baner__content-title {
  margin-bottom: 100px;
}
.restoration-baner__content-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.restoration-baner__wrap-flex {
  width: 49%;
}
.restoration-baner__flex-bg {
  width: 100%;
}
.restoration-baner__flex-bg img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.restoration-baner__flex-name {
  width: 100%;
  margin-top: 20px;
}
.restoration-baner__flex-name p {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #323232;
}

.management {
  margin: 160px 0;
}
.management__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.management__content-info {
  width: 55%;
}
.management__info-text {
  margin: 100px 0 65px;
}
.management__content-bg {
  width: 45%;
  height: 475px;
  background: #c4c4c4;
}

.choose {
  margin: 160px 0;
}
.choose__content-title {
  margin-bottom: 100px;
}
.choose__content-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 85px;
}
.choose__wrap-flex {
  flex: 0 1 25%;
}
.choose__flex-name {
  padding-bottom: 10px;
  border-bottom: 1px solid #715b4b;
}
.choose__flex-name h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #323232;
}
.choose__flex-text {
  padding-top: 20px;
}
.choose__flex-text p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #323232;
}

.portfolio {
  overflow: hidden;
}
.portfolio__content {
  position: relative;
}
.portfolio__content-title {
  margin-bottom: 100px;
}
.portfolio__content-slider {
  max-width: 818px !important;
  margin: 0 auto;
}
.portfolio__content-slider .mySwiper2 {
  margin-bottom: 20px;
  width: 100%;
  height: 694px;
}
.portfolio__content-slider .swiper-slide {
  height: 100%;
}
.portfolio__content-slider .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolio__content-slider .swiper-button-next:after, .portfolio__content-slider .swiper-button-prev:after {
  display: none;
}
.portfolio__content-slider .swiper-button-next, .portfolio__content-slider .swiper-button-prev {
  width: 30px;
  height: 30px;
  padding: 7px;
  border-radius: 100%;
  background: #f6f6f6;
  bottom: 0%;
}
.portfolio__content-slider .swiper-button-next svg, .portfolio__content-slider .swiper-button-prev svg {
  width: 18px;
  height: 18px;
}

.production {
  margin: 160px 0;
}
.production__content-title {
  margin-bottom: 100px;
}
.production__content-wrap {
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.production__wrap-flex {
  flex: 0 1 33.334%;
  height: 141px;
  padding: 0px 40px 0px 42px;
  position: relative;
  border: 0.5px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.production__flex-info {
  position: absolute;
  bottom: 30px;
}
.production__flex-info p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #323232;
}
.production__flex-number {
  position: absolute;
  top: 7px;
  right: 40px;
}
.production__flex-number span {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 48px;
  color: #323232;
}

.clients {
  overflow: hidden;
}
.clients__content {
  height: 60vh;
  position: relative;
}
.clients__swiper {
  position: absolute;
  max-width: 1295px;
  margin-top: 100px;
  margin-left: auto;
}
.clients__swiper .swiper-slide {
  width: 236px !important;
}
.clients__swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contanct {
  margin: 160px 0;
}
.contanct__contennt {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contanct__contennt-title {
  width: 100%;
  margin-bottom: 120px;
}
@media (max-width: 1024px) {
  .title {
    font-size: 35px;
  }
  .main__content {
    gap: 40px;
  }
  .main__content-bg {
    height: 50%;
  }
  .main__content-info {
    width: 50%;
    height: 350px;
  }
  .footer__content {
    align-items: start;
    gap: 40px;
    flex-direction: column-reverse;
  }
  .footer__content-item {
    width: 100%;
  }
  .footer__content-social {
    width: 25%;
  }
  .works__content-wrap {
    gap: 25px;
  }
  .works__wrap-flex {
    flex: 0 1 22%;
  }
}
@media (max-width: 960px) {
  .title {
    font-size: 32px;
  }
  .btn {
    padding: 18px 23px;
  }
  .header__content {
    display: none;
  }
  .header__mobil {
    display: block;
  }
  .main {
    border-bottom: 0;
  }
  .main__content {
    flex-direction: column;
  }
  .main__content-bg {
    width: 100%;
  }
  .main__content-info {
    width: 100%;
  }
  .about__info {
    flex-direction: column;
    gap: 40px;
  }
  .about__info-bg {
    width: 100%;
  }
  .about__info-info {
    width: 100%;
  }
  .services__flex {
    flex-direction: column;
    gap: 40px;
  }
  .services__flex-bg {
    width: 100%;
  }
  .services__flex-info {
    width: 100%;
    padding-bottom: 115px;
  }
  .guarantee__content-info {
    padding: 35px;
  }
  .works__content-wrap {
    gap: 22px;
  }
  .works__wrap-flex {
    flex: 0 1 45%;
    height: 197px;
  }
  .works__flex-bg {
    height: 161px;
  }
  .column__content-wrap {
    width: 100%;
  }
  .column__wrap-flex {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .category__wrap-flex {
    flex: 0 1 50%;
  }
  .footer {
    height: 60%;
  }
  .footer__content-item {
    align-items: start;
    flex-direction: column;
    gap: 40px;
  }
  .footer__content-social {
    width: 30%;
  }
  .footer__item-list {
    width: 100%;
  }
  .guarantee__content-info {
    padding: 15px;
  }
  .guarantee__content-title {
    display: none;
  }
  .guarantee__content-bg {
    width: 85px;
    height: 85px;
  }
  .guarantee__content-text {
    font-size: 11px;
  }
  .choose__wrap-flex {
    flex: 0 1 42%;
  }
  .restoration__content-wrap {
    gap: 22px;
  }
  .restoration__wrap-flex {
    flex: 0 1 44%;
  }
  .restoration-baner__content-wrap {
    flex-direction: column;
    gap: 40px;
  }
  .restoration-baner__wrap-flex {
    width: 100%;
  }
  .management__content {
    flex-direction: column;
    gap: 45px;
  }
  .management__content-info {
    width: 100%;
  }
  .management__content-bg {
    width: 100%;
  }
  .portfolio__content-slider {
    max-width: 560px;
  }
  .portfolio__content-slider .mySwiper {
    display: none;
  }
  .portfolio__content-slider .mySwiper2 {
    height: 50vh;
  }
  .portfolio__content-slider .swiper-button-next, .portfolio__content-slider .swiper-button-prev {
    display: none;
  }
}
@media (max-width: 626px) {
  .category__content-body {
    flex-direction: column;
    gap: 40px;
  }
  .category__body-info {
    width: 100%;
  }
  .category__info-text {
    width: 100%;
  }
  .video__content-bg {
    height: 50vh;
  }
  .portfolio__content-slider {
    max-width: 560px;
  }
  .portfolio__content-slider .mySwiper {
    display: none;
  }
  .portfolio__content-slider .mySwiper2 {
    height: 30vh;
  }
  .choose__wrap-flex {
    flex: 0 1 100%;
  }
  .production__wrap-flex {
    flex: 0 1 100%;
  }
  .footer {
    padding: 40px 0 155px;
    height: 100%;
  }
  .footer__content-social {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */