
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
span {display: block;}
/*--------------------*/
$font-family: "Open Sans", sans-serif;
$second-family: "Tenor Sans", sans-serif;
$third-family: "Montserrat", sans-serif;
@mixin stylefontz($ff, $fw, $fs, $c){
    font-family: $ff;
    font-weight: $fw;
    font-size: $fs;
    color: $c;
}
@mixin stylcenter($d, $ai, $jc){
    display: $d;
    align-items: $ai;
    justify-content: $jc;
}
// @include stylefontz($second-family, 700, 70px, $colorgrey);
// @include stylcenter(flex, center, space-between);
body {
    position: relative;
    background: #f3efea;
}
.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 40px;
}
.text {
    @include stylefontz($font-family, 300, 16px, #323232);
    line-height: 1.5;
}
.title {
    @include stylefontz($font-family, 400, 48px, #57463a);
}
.btn {
    padding: 18px 58px;
    @include stylefontz($font-family, 400, 16px, #f6f6f6);
    background: #a1b29f;
}
.header {
    padding: 30px 0 20px;
    border-bottom: 1px solid #000;
    &__content {
        @include stylcenter(flex, center, space-between);
    }
    &__content-menu {
        @include stylcenter(flex, center, space-between);
        width: 30%;
    }
    &__list-link {
        @include stylefontz($font-family, 400, 16px, #323232);
        line-height: 1.5;
        transition: all 0.3s ease-in;
        &::after {
            content: '';
            display: block;
            width: 0%;
            height: 2px;
            background: #a1b29f;
            transition: all 0.3s ease-in;
        }
        &:hover {
            color: #a1b29f;
            &::after {
                width: 80%;
            }
        }
    }
    &__mobil {
        display: none;

    }
    &__mobil-body {
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
        position: absolute;
        overflow: hidden;
        z-index: 0;
    }
    &__body-burger {
        margin-left: auto;
        width: 68px;
        height: 12px;
        @include stylcenter(flex, center, space-between);
        flex-direction: column;
        position: relative;
        z-index: 10;
        span {
            width: 100%;
            height: 2px;
            background: #57463a;
            transition: all 0.3s ease-in;
        }
        &.active {
            span {
                background: #f3efea;
            }
        }
    }
    &__body-menu {
        width: 100%;
        height: 100%;
        margin-left: auto;
        background: #57463a;
        transform: translateX(180%);
        transition: all 0.3s ease-in;
        &.active {
            transform: translateX(0%);
        }
    }
    &__menu {
        position: relative;
        z-index: 10;
        width: 100%;
        height: 100%;
        @include stylcenter(flex, center, center);
        flex-direction: column;
        gap: 30px;
        .header__content-menu {
            flex-direction: column;
            gap: 30px;
            width: 100%;
        }
    }
}
.main {
    border-bottom: 1px solid #000;
	&__content {
        @include stylcenter(flex, center, space-between);
	}
	&__content-bg {
        width: 50%;
        height: 774px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
	}
	&__content-info {
        @include stylcenter(flex, start, space-between);
        flex-direction: column;
        width: 50%;
        margin-right: auto;
        height: 478px;
        padding: 0 40px;
	}
	&__info-social {
        width: 170px;
        margin-left: auto;
        @include stylcenter(flex, center, space-between);
	}
	&__social-link {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        @include stylcenter(flex, center, center);
        border: 1px solid #715b4b;
	}
}
.category {
    margin: 160px 0 100px;
    &__content-title {
        margin-bottom: 85px;
    }
    &__content-body {
        @include stylcenter(flex, center, space-between);
        margin-bottom: 160px;
    }
    &__body-info {
        padding: 14px 0;
        border-bottom: 3px solid #715b4b;
    }
    &__info-text {
        width: 70%;
        margin: 0 auto;
        text-align: center;
        @include stylefontz($font-family, 300, 18px,  #323232);
        line-height: 1.5;
    }
    &__list-title {
        margin-bottom: 100px;
    }
    &__list-wrap {
        border: 1px solid #000;
        @include stylcenter(flex, center, space-between);
        flex-wrap: wrap;
    }
    &__wrap-flex {
        flex: 0 1 25%;
        height: 243px;
        border: 0.5px solid #000;
        @include stylcenter(flex, center, center);
        flex-direction: column;
        gap: 20px;
    }
    &__flex-bg {
        width: 100px;
        height: 100px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__flex-name {
        @include stylefontz($font-family, 300, 18px,  #323232);
    }
}
.about {
    &__info {
        margin-top: 100px;
        @include stylcenter(flex, center, space-between);
    }
    &__info-bg {
        width: 50%;
        height: 475px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__info-info {
        width: 50%;
        padding: 0 40px;
    }
    &__info-title {
        width: 100%;
        margin-bottom: 40px;
        @include stylefontz($font-family, 400, 24px,  #000);
        line-height: 1.5;
    }
    &__info-text {
        width: 100%;
        margin-bottom: 70px;
        line-height: 1.5;
    }
}
.video {
    margin: 160px 0 200px;
    &__content-title {
        margin-bottom: 100px;
    }
    &__content-bg {
        width: 100%;
        height: 80vh;
        @include stylcenter(flex, center, center);
        background: #c4c4c4;
    }
    &__bg-btn {
        width: 44px;
        height: 44px;
        cursor: pointer;
        svg {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.services {
    &__content-title {
        margin-bottom: 100px;
    }
    &__flex {
        @include stylcenter(flex, center, space-between);
        background: #d4cdc3;
    }
    &__flex-bg {
        width: 50%;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    &__flex-info {
        width: 50%;
        margin-right: auto;
        padding: 0 40px;
    }
    &__info-title {
        margin-bottom: 40px;
        @include stylefontz($font-family, 400, 24px,  #000);
    }
    &__info-text {
        width: 100%;
        margin-bottom: 75px;
    }
}
.guarantee {
    margin: 200px 0 210px;
    &__content {
        padding: 14px 12px 13px 13px;
        border: 7px solid #a1b29f;
    }
    &__content-info {
        padding: 90px 95px;
        border: 1px solid #715b4b;
    }
    &__content-title {
        width: 100%;
        margin: 0 auto;
        line-height: 1.5;
        text-align: center;
    }
    &__content-text {
        width: 100%;
        margin-top: 40px;
    }
    &__content-bg {
        width: 152px;
        height: 150px;
        margin-left: auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
.footer {
    padding-top: 85px;
    height: 380px;
    background: #715b4b;
    &__content {
        @include stylcenter(flex, center, space-between);
    }
    &__content-item {
        width: 82%;
        @include stylcenter(flex, center, space-between);
    }
    &__item-list {
        width: 25%;
        @include stylcenter(flex, start, space-between);
        flex-direction: column;
        gap: 10px;
    }
    &__list-link {
        @include stylefontz($font-family, 300, 16px,  #f6f6f6);
        line-height: 1.5;
    }
    &__content-social {
        width: 16%;
        @include stylcenter(flex, start, space-between);
    }
    &__social-link {
        width: 52px;
        height: 52px;
        @include stylcenter(flex, center, center);
        border-radius: 100%;
        border: 1px solid #f6f6f6;
    }
}
@media (max-width: 1024px) {
    .title {
        font-size: 35px;
    }
    .main {
        &__content {
            gap: 40px;
        }
        &__content-bg {
            height: 50%;
        }
        &__content-info {
            width: 50%;
            height: 350px;
        }
    }
    .footer {
        &__content {
            align-items: start;
            gap: 40px;
            flex-direction: column-reverse;
        }
        &__content-item {
            width: 100%;
        }
        &__content-social {
            width: 25%;
        }
    }
}
@media (max-width: 960px) {
    .title {
        font-size: 32px;
    }
    .btn {
        padding: 18px 42px;
    }
    .header {
        &__content {
            display: none;
        } 
        &__mobil {
            display: block;
        }
    }
    .main {
        border-bottom: 0;
        &__content {
            flex-direction: column;
        }
        &__content-bg {
            width: 100%;
        }
        &__content-info {
            width: 100%;
        }
    }
    .about {
        &__info {
            flex-direction: column;
            gap: 40px;
        }
        &__info-bg {
            width: 100%;
        }
        &__info-info {
            width: 100%;
        }
    }
    .services {
        &__flex {
            flex-direction: column;
            gap: 40px;
            
        }
        &__flex-bg {
            width: 100%;
        }
        &__flex-info {
            width: 100%;
            padding-bottom: 115px;
        }
    }
    .guarantee {
        &__content-info {
            padding: 35px;
        }
    }
}
@media (max-width: 768px) {
    .category {
        &__wrap-flex {
            flex: 0 1 50%;
        }
    }
    .footer {
        height: 60%;
        &__content-item {
            align-items: start;
           flex-direction: column;
           gap: 40px;
        }
        &__content-social {
            width: 30%;
        }
        &__item-list {
            width: 100%;
        }
    }
    .guarantee__content-info {
        padding: 15px;
    }
    .guarantee__content-title {
        display: none;
    }
    .guarantee__content-bg  {
        width: 85px;
        height: 85px;
    }
    .guarantee__content-text  {
        font-size: 11px;
    }
}
@media (max-width: 626px) {
    .category {
        &__content-body {
            flex-direction: column;
            gap: 40px;
        }
        &__body-info {
            width: 100%;
        }
        &__info-text {
            width: 100%;
        }
    }
    .video {
        &__content-bg {
            height: 50vh;
        }
    }
    
    .footer {
        padding: 40px 0 155px;
        height: 100%;
        &__content-social {
            width: 100%;
        }
    }
}