
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
span {display: block;}
/*--------------------*/
$font-family: "Open Sans", sans-serif;
$second-family: "Tenor Sans", sans-serif;
$third-family: "Montserrat", sans-serif;
@mixin stylefontz($ff, $fw, $fs, $c){
    font-family: $ff;
    font-weight: $fw;
    font-size: $fs;
    color: $c;
}
@mixin stylcenter($d, $ai, $jc){
    display: $d;
    align-items: $ai;
    justify-content: $jc;
}
body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    background: #f3efea;
}
.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 40px;
}
.text {
    @include stylefontz($font-family, 300, 16px, #323232);
    line-height: 1.5;
}
.title {
    @include stylefontz($font-family, 400, 48px, #57463a);
    line-height: 1.5;
}
.btn {
    padding: 18px 58px;
    @include stylefontz($font-family, 400, 16px, #f6f6f6);
    background: #a1b29f;
}
.header {
    padding: 30px 0 20px;
    border-bottom: 1px solid #000;
    &__content {
        @include stylcenter(flex, center, space-between);
    }
    &__content-menu {
        @include stylcenter(flex, center, space-between);
        width: 30%;
    }
    &__list-link {
        @include stylefontz($font-family, 400, 16px, #323232);
        line-height: 1.5;
        transition: all 0.3s ease-in;
        &::after {
            content: '';
            display: block;
            width: 0%;
            height: 2px;
            background: #a1b29f;
            transition: all 0.3s ease-in;
        }
        &:hover {
            color: #a1b29f;
            &::after {
                width: 80%;
            }
        }
    }
    &__mobil {
        display: none;

    }
    &__mobil-body {
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
        position: absolute;
        overflow: hidden;
        z-index: 1;
    }
    &__body-burger {
        margin-left: auto;
        width: 68px;
        height: 12px;
        @include stylcenter(flex, center, space-between);
        flex-direction: column;
        position: relative;
        z-index: 10;
        span {
            width: 100%;
            height: 2px;
            background: #57463a;
            transition: all 0.3s ease-in;
        }
        &.active {
            span {
                background: #f3efea;
            }
        }
    }
    &__body-menu {
        width: 100%;
        height: 100%;
        margin-left: auto;
        background: #57463a;
        transform: translateX(180%);
        transition: all 0.3s ease-in;
        &.active {
            transform: translateX(0%);
        }
    }
    &__menu {
        position: relative;
        z-index: 10;
        width: 100%;
        height: 100%;
        @include stylcenter(flex, center, center);
        flex-direction: column;
        gap: 30px;
        .header__content-menu {
            flex-direction: column;
            gap: 30px;
            width: 100%;
        }
    }
}
.main {
    border-bottom: 1px solid #000;
	&__content {
        @include stylcenter(flex, center, space-between);
	}
	&__content-bg {
        width: 50%;
        height: 774px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
	}
	&__content-info {
        @include stylcenter(flex, start, space-between);
        flex-direction: column;
        width: 50%;
        margin-right: auto;
        height: 478px;
        padding: 0 40px;
	}
	&__info-social {
        width: 170px;
        margin-left: auto;
        @include stylcenter(flex, center, space-between);
	}
	&__social-link {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        @include stylcenter(flex, center, center);
        border: 1px solid #715b4b;
	}
}
.category {
    margin: 160px 0 100px;
    &__content-title {
        margin-bottom: 85px;
    }
    &__content-body {
        @include stylcenter(flex, center, space-between);
        margin-bottom: 160px;
    }
    &__body-info {
        padding: 14px 0;
        border-bottom: 3px solid #715b4b;
    }
    &__info-text {
        width: 70%;
        margin: 0 auto;
        text-align: center;
        @include stylefontz($font-family, 300, 18px,  #323232);
        line-height: 1.5;
    }
    &__list-title {
        margin-bottom: 100px;
    }
    &__list-wrap {
        border: 1px solid #000;
        @include stylcenter(flex, center, space-between);
        flex-wrap: wrap;
    }
    &__wrap-flex {
        flex: 0 1 25%;
        height: 243px;
        border: 0.5px solid #000;
        @include stylcenter(flex, center, center);
        flex-direction: column;
        gap: 20px;
    }
    &__flex-bg {
        width: 100px;
        height: 100px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__flex-name {
        @include stylefontz($font-family, 300, 18px,  #323232);
    }
}
.about {
    &__info {
        margin-top: 100px;
        @include stylcenter(flex, center, space-between);
    }
    &__info-bg {
        width: 50%;
        height: 475px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__info-info {
        width: 50%;
        padding: 0 40px;
    }
    &__info-title {
        width: 100%;
        margin-bottom: 40px;
        @include stylefontz($font-family, 400, 24px,  #000);
        line-height: 1.5;
    }
    &__info-text {
        width: 100%;
        margin-bottom: 70px;
        line-height: 1.5;
    }
}
.video {
    margin: 160px 0 200px;
    &__content-title {
        margin-bottom: 100px;
    }
    &__content-bg {
        width: 100%;
        height: 80vh;
        @include stylcenter(flex, center, center);
        background: #c4c4c4;
    }
    &__bg-btn {
        width: 44px;
        height: 44px;
        cursor: pointer;
        svg {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.services {
    &__content-title {
        margin-bottom: 100px;
    }
    &__flex {
        @include stylcenter(flex, center, space-between);
        background: #d4cdc3;
    }
    &__flex-bg {
        width: 50%;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    &__flex-info {
        width: 50%;
        margin-right: auto;
        padding: 0 40px;
    }
    &__info-title {
        margin-bottom: 40px;
        @include stylefontz($font-family, 400, 24px,  #000);
    }
    &__info-text {
        width: 100%;
        margin-bottom: 75px;
    }
}
.guarantee {
    margin: 200px 0 210px;
    &__content {
        padding: 14px 12px 13px 13px;
        border: 7px solid #a1b29f;
    }
    &__content-info {
        padding: 90px 95px;
        border: 1px solid #715b4b;
    }
    &__content-title {
        width: 100%;
        margin: 0 auto;
        line-height: 1.5;
        text-align: center;
    }
    &__content-text {
        width: 100%;
        margin-top: 40px;
    }
    &__content-bg {
        width: 152px;
        height: 150px;
        margin-left: auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
.footer {
    padding: 85px 0 245px;
    background: #715b4b;
    &__content {
        @include stylcenter(flex, center, space-between);
    }
    &__content-item {
        width: 82%;
        @include stylcenter(flex, center, space-between);
    }
    &__item-list {
        width: 25%;
        @include stylcenter(flex, start, space-between);
        flex-direction: column;
        gap: 10px;
    }
    &__list-link {
        @include stylefontz($font-family, 300, 16px,  #f6f6f6);
        line-height: 1.5;
    }
    &__content-social {
        width: 16%;
        @include stylcenter(flex, start, space-between);
    }
    &__social-link {
        width: 52px;
        height: 52px;
        @include stylcenter(flex, center, center);
        border-radius: 100%;
        border: 1px solid #f6f6f6;
    }
}
.baner {
    position: relative;
    &__bg {
        width: 100%;
        height: 80vh;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__content {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include stylcenter(flex, center, center);
        flex-direction: column;
    }
    &__content-subtitle {
        @include stylefontz($font-family, 300, 16px, #f6f6f6);
    }
    &__content-title {
        color: #f6f6f6;
        text-align: center;
        margin-bottom: 115px;
    }
    &__content-btn {
        background: #f6f6f6;
        color: #4c6d77;
    }
}
.works {
    margin: 160px 0;
    &__content {
        @include stylcenter(flex, center, center);
        flex-direction: column;
    }
    &__content-title {
        width: 100%;
        margin-bottom: 100px;
    }
    &__content-wrap {
        margin-bottom: 100px;
        @include stylcenter(flex, center, space-between);
        flex-wrap: wrap;
        gap: 50px;
    }
    &__wrap-flex {
        flex: 0 1 21%;
        height: 341px;
    }
    &__flex-bg {
        width: 100%;
        height: 300px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__flex-name {
        @include stylefontz($font-family, 400, 16px,   #323232);
        text-align: center;
        margin-top: 25px;
    }
    &__content-btn {
        
    }
}
.column {
    &__content-wrap {
        width: 30%;
        margin: 45px auto 100px;
    }
    &__wrap-flex {
        margin: 55px 0;
        @include stylcenter(flex, center, start);
        gap: 45px;
    }
    &__flex-number {
        padding: 12px 23px;
        border-radius: 100%;
        background: #a1b29f;
        span {
            @include stylefontz($font-family, 700, 24px,  #f6f6f6);
            line-height: 1.5;
        }
    }
    &__flex-info {
        
    }
    &__info-text {
    }
}
.restoration {
    margin: 160px 0;
    &__content-title {
        margin-bottom: 100px;
    }
    &__content-wrap {
        @include stylcenter(flex, center, space-between);
        flex-wrap: wrap;
        gap: 40px;
    }
    &__wrap-flex {
        flex: 0 1 21%;
    }
    &__flex-bg {
        width: 100%;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    &__flex-name {
        margin-top: 25px;
        width: 100%;
        p {
            @include stylefontz($font-family, 700, 18px,  #323232);
            text-align: center;
        }
    }
}
.restoration-baner {
    &__content-title {
        margin-bottom: 100px;
    }
    &__content-wrap {
        @include stylcenter(flex, center, space-between);
    }
    &__wrap-flex {
        width: 49%;
    }
    &__flex-bg {
        width: 100%;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    &__flex-name {
        width: 100%;
        margin-top: 20px;
        p {
            text-align: center;
            @include stylefontz($font-family, 700, 18px,  #323232);
        }
    }
}
.management {
    margin: 160px 0;
    &__content {
        @include stylcenter(flex, center, space-between);
    }
    &__content-info {
        width: 55%;
    }
    &__info-text {
        margin: 100px 0 65px;
    }
    &__content-bg {
        width: 45%;
        height: 475px;
        background: #c4c4c4;
    }
}
.choose {
    margin: 160px 0;
    &__content-title {
        margin-bottom: 100px;
    }
    &__content-wrap {
        @include stylcenter(flex, center, space-between);
        flex-wrap: wrap;
        gap: 85px;
    }
    &__wrap-flex {
        flex: 0 1 25%;
    }
    &__flex-name {
        padding-bottom: 10px;
        border-bottom: 1px solid #715b4b;
        h5 {
            @include stylefontz($font-family, 700, 16px,  #323232);
        }
    }
    &__flex-text {
        padding-top: 20px;
        p {
            @include stylefontz($font-family, 400, 16px,  #323232);
        }
    }
}
.portfolio {
    overflow: hidden;
    &__content {
        position: relative;
    }
    &__content-title {
        margin-bottom: 100px;
    }
    &__content-slider {
        max-width: 818px !important;
        margin: 0 auto;
        .mySwiper2 {
            margin-bottom: 20px;
            width: 100%;
            height: 694px;
        }
        .swiper-slide {
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .swiper-button-next:after, .swiper-button-prev:after {
            display: none;
        }
        .swiper-button-next, .swiper-button-prev {
            width: 30px;
            height: 30px;
            padding: 7px;
            border-radius: 100%;
            background: #f6f6f6;
            bottom: 0%;
            svg {
                width: 18px;
                height: 18px;
            }
        }
    }
}
.production {
    margin: 160px 0;
    &__content-title {
        margin-bottom: 100px;
    }
    &__content-wrap {
        border: 1px solid #000;
        @include stylcenter(flex, center, space-between);
        flex-wrap: wrap;
    }
    &__wrap-flex {
        flex: 0 1 33.334%;
        height: 141px;
        padding: 0px 40px 0px 42px;
        position: relative;
        border: 0.5px solid #000;
        @include stylcenter(flex, center, space-between);
    }
    &__flex-info {
        position: absolute;
        bottom: 30px;
        p {
            @include stylefontz($font-family, 300, 16px, #323232);
        }
    }
    &__flex-number { 
        position: absolute;
        top: 7px;
        right: 40px;
        span {
            @include stylefontz($font-family, 400, 48px, #323232);
        }
    }
}
.clients {
    overflow: hidden;
    &__content {
        height: 60vh;
        position: relative;
    }
    &__swiper {
        position: absolute;
        max-width: 1295px;
        margin-top: 100px;
        margin-left: auto;
        .swiper-slide {
            width: 236px !important;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        
    }
}
.contanct {
    margin: 160px 0;
    &__contennt {
        @include stylcenter(flex, center, center);
        flex-direction: column;
    }
    &__contennt-title {
        width: 100%;
        margin-bottom: 120px;
    }

    // .contanct__contennt-btn

    &__contennt-btn {
    }
}
@media (max-width: 1024px) {
    .title {
        font-size: 35px;
    }
    .main {
        &__content {
            gap: 40px;
        }
        &__content-bg {
            height: 50%;
        }
        &__content-info {
            width: 50%;
            height: 350px;
        }
    }
    .footer {
        &__content {
            align-items: start;
            gap: 40px;
            flex-direction: column-reverse;
        }
        &__content-item {
            width: 100%;
        }
        &__content-social {
            width: 25%;
        }
    }
    .works {
        &__content-wrap {
            gap: 25px;
        }
        &__wrap-flex {
            flex: 0 1 22%;
        }
    }
}
@media (max-width: 960px) {
    .title {
        font-size: 32px;
    }
    .btn {
        padding: 18px 23px;
    }
    .header {
        &__content {
            display: none;
        } 
        &__mobil {
            display: block;
        }
    }
    .main {
        border-bottom: 0;
        &__content {
            flex-direction: column;
        }
        &__content-bg {
            width: 100%;
        }
        &__content-info {
            width: 100%;
        }
    }
    .about {
        &__info {
            flex-direction: column;
            gap: 40px;
        }
        &__info-bg {
            width: 100%;
        }
        &__info-info {
            width: 100%;
        }
    }
    .services {
        &__flex {
            flex-direction: column;
            gap: 40px;
            
        }
        &__flex-bg {
            width: 100%;
        }
        &__flex-info {
            width: 100%;
            padding-bottom: 115px;
        }
    }
    .guarantee {
        &__content-info {
            padding: 35px;
        }
    }
    .works {
        &__content-wrap {
            gap: 22px;
        }
        &__wrap-flex {
            flex: 0 1 45%;
            height: 197px;
        }
        &__flex-bg {
            height: 161px;
        }
    }
    .column {
        &__content-wrap {
            width: 100%;
        }
        &__wrap-flex {
            justify-content: center;
        }
    }
}
@media (max-width: 768px) {
    .category {
        &__wrap-flex {
            flex: 0 1 50%;
        }
    }
    .footer {
        height: 60%;
        &__content-item {
            align-items: start;
           flex-direction: column;
           gap: 40px;
        }
        &__content-social {
            width: 30%;
        }
        &__item-list {
            width: 100%;
        }
    }
    .guarantee__content-info {
        padding: 15px;
    }
    .guarantee__content-title {
        display: none;
    }
    .guarantee__content-bg  {
        width: 85px;
        height: 85px;
    }
    .guarantee__content-text  {
        font-size: 11px;
    }
    .choose {
        &__wrap-flex {
            flex: 0 1 42%;
        }
    }
    .restoration {
        &__content-wrap {
            gap: 22px;
        }
        &__wrap-flex {
            flex: 0 1 44%;
        }
    }
    .restoration-baner {
        &__content-wrap {
            flex-direction: column;
            gap: 40px;
        }
        &__wrap-flex {
            width: 100%;
        }
    }
    .management {
        &__content {
            flex-direction: column;
            gap: 45px;
        }
        &__content-info {
            width: 100%;
        }
        &__content-bg {
            width: 100%;
        }
    }
    .portfolio {
        &__content-slider {
            max-width: 560px;
            .mySwiper {
                display: none;
            }
            .mySwiper2 {
                height: 50vh;
            }
            .swiper-button-next,  .swiper-button-prev {
                display: none;
            }
        }
    }
}
@media (max-width: 626px) {
    .category {
        &__content-body {
            flex-direction: column;
            gap: 40px;
        }
        &__body-info {
            width: 100%;
        }
        &__info-text {
            width: 100%;
        }
    }
    .video {
        &__content-bg {
            height: 50vh;
        }
    }
    .portfolio {
        &__content-slider {
            max-width: 560px;
            .mySwiper {
                display: none;
            }
            .mySwiper2 {
                height: 30vh;
            }
        }
    }
    .choose {
        &__wrap-flex {
            flex: 0 1 100%;
        }
    }
    .production {
        &__wrap-flex{
            flex: 0 1 100%;
        }
    }
    .footer {
        padding: 40px 0 155px;
        height: 100%;
        &__content-social {
            width: 100%;
        }
    }
}