* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

span {
  display: block;
}

/*--------------------*/
body {
  position: relative;
  background: #f3efea;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 40px;
}

.text {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #323232;
  line-height: 1.5;
}

.title {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 48px;
  color: #57463a;
}

.btn {
  padding: 18px 58px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #f6f6f6;
  background: #a1b29f;
}

.header {
  padding: 30px 0 20px;
  border-bottom: 1px solid #000;
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__content-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}
.header__list-link {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #323232;
  line-height: 1.5;
  transition: all 0.3s ease-in;
}
.header__list-link::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background: #a1b29f;
  transition: all 0.3s ease-in;
}
.header__list-link:hover {
  color: #a1b29f;
}
.header__list-link:hover::after {
  width: 80%;
}
.header__mobil {
  display: none;
}
.header__mobil-body {
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  position: absolute;
  overflow: hidden;
  z-index: 0;
}
.header__body-burger {
  margin-left: auto;
  width: 68px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  z-index: 10;
}
.header__body-burger span {
  width: 100%;
  height: 2px;
  background: #57463a;
  transition: all 0.3s ease-in;
}
.header__body-burger.active span {
  background: #f3efea;
}
.header__body-menu {
  width: 100%;
  height: 100%;
  margin-left: auto;
  background: #57463a;
  transform: translateX(180%);
  transition: all 0.3s ease-in;
}
.header__body-menu.active {
  transform: translateX(0%);
}
.header__menu {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.header__menu .header__content-menu {
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.main {
  border-bottom: 1px solid #000;
}
.main__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main__content-bg {
  width: 50%;
  height: 774px;
}
.main__content-bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main__content-info {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  width: 50%;
  margin-right: auto;
  height: 478px;
  padding: 0 40px;
}
.main__info-social {
  width: 170px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main__social-link {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #715b4b;
}

.category {
  margin: 160px 0 100px;
}
.category__content-title {
  margin-bottom: 85px;
}
.category__content-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 160px;
}
.category__body-info {
  padding: 14px 0;
  border-bottom: 3px solid #715b4b;
}
.category__info-text {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #323232;
  line-height: 1.5;
}
.category__list-title {
  margin-bottom: 100px;
}
.category__list-wrap {
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.category__wrap-flex {
  flex: 0 1 25%;
  height: 243px;
  border: 0.5px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.category__flex-bg {
  width: 100px;
  height: 100px;
}
.category__flex-bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.category__flex-name {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #323232;
}

@media (max-width: 1024px) {
  .title {
    font-size: 35px;
  }
  .main__content {
    gap: 40px;
  }
  .main__content-bg {
    height: 50%;
  }
  .main__content-info {
    width: 50%;
    height: 350px;
  }
}
@media (max-width: 915px) {
  .header__content {
    display: none;
  }
  .header__mobil {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */